.PostGroupTitle {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    

}

.loginForm {
        max-width: 400px !important;
        margin: auto;
        
}

.loginTitle {
    text-align: center;
    margin: 20px;
}